@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap";
@import "./styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";

.accordion-button:not(.collapsed) {
  color: black;
  background-color: $accordion-button-active-bg;
}

html,
body {
  background-color: $page-background;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;

  /* Remove scrollbar space */
  background: transparent;
}

.err-message {
  color: red;
}
