.card {
    max-width: 500px;
    margin: auto;
}

.fileInputDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-width: 2;
    border-radius: 2;
    border-style: dashed;
    background-color: #FFF3ED;
    color: #EF6B08;
    outline: none;
    transition: border .24s ease-in-out;
    font-weight: bold;
}

.profileHeader {
    text-align: center;
}

.prevBtn:focus {
    box-shadow: none;
    text-decoration: none;
}

// Personal Details

.personalDetails span {
    color: grey;
    margin-bottom: 0.5rem;
    margin-right: 3rem;
}

.personalDetails p,
.workExp p {
    color: #05304B;
    margin-bottom: 0.5rem;
    word-wrap: anywhere;
}

.personalDetails a {
    text-decoration: none;
}

@media only screen and (max-width: 576px) {
    .profileHeader {
        font-size: 1.2em
    }

    .fileInputDiv {
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;
    }
}