$primary: #FE6565;
$page-background: #2a9b20;

// Text normal and active color
$text-normal-color: #7492AA;
$text-active-color: #233953;
// applies to all accordions in the app
$accordion-button-active-bg: white !default;
$accordion-button-active-color: #89A7BF !default;
$accordion-button-focus-box-shadow: none !default;
$accordion-button-focus-border-color: none !default;
$accordion-button-color: #89A7BF;