.list__white {
    padding: 1rem 2rem 2rem 2rem;
    margin-top: 3rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
}

small {
    color: grey;
}

.form__switch {
    input {
        height: 30px !important;
        width: 60px !important;
    }

    label {
        margin: auto;
        height: 30px !important;
        width: 60px !important;
    }
}

.form__datepicker {
    width: 266px;
}

.col__end {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 575px) {
    .card {
        padding: 1rem
    }
}