.card {
  margin-top: 3rem;
}

.form__switch {
  input {
    height: 30px !important;
    width: 60px !important;
  }

  label {
    margin: auto;
    height: 30px !important;
    width: 60px !important;
  }
}

.form__datepicker {
  width: 266px;
}

.col__end {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
