.navbar {
  box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
}

.navBrand {
  cursor: pointer;
}

.nav {
  a,
  .logoutButton {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-decoration: none;
    color: black;
    cursor: pointer;

    &:hover {
      color: rgb(129 129 129);
    }
  }
}
